/* Initial setup -- looking at 02-Advanced-CSS\01-Activities\28-Stu_Mini-Project\Main\assets\css from class */
:root {
    /* set four colors for entire page here */
    --text: rgb(49, 47, 23); 
    --reddish: rgb(102, 49, 64);
    --hover-shadow: rgba(142, 89, 104, 0.7);
    --link-hover: #acacac;
    --bkground: rgb(235, 230, 222); 
    --border-color: #c5c5c5;
}

html {
    /* set 1rem to 10px as 28_Stu_Mini-Project style.css */
    font-size: 62.5%;
    background-color: var(--bkground);

    /* https://gomakethings.com/how-to-animate-scrolling-to-anchor-links-with-one-line-of-css/ */
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    width: 98%;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

    font-size: 1.75rem;
    line-height: 1.5;
    color: var(--text);
}

h1, h2, h3 {
    margin-bottom: 0.625rem;
    color: var(--text);
    font-weight: 700;
    line-height: 1.1;
}

header h1 {
    font-size: 4rem;
    margin-bottom: 3rem;
}


header ul,
footer ul {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    justify-content: center;
    align-items: center;
}

header ul li a,
#contact a {
    text-decoration: none;
    color: var(--reddish);
    font-size: 2.25rem;
}

nav a:visited,
#contact a:visited {
    color: var(--reddish);
}

nav a:hover,
#contact a:hover {
    color: var(--link-hover);
    text-decoration: underline;
}

nav a:focus,
#contact a:focus {
    color: var(--link-hover);
}

nav a:active,
#contact a:focus {
    color: orangered;
}


h2 {
    font-size: 3rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--border-color);
    margin: 3rem 2rem 1rem 2rem;
}

h3 {
    font-size: 2rem;
}

header,
section {
    margin-bottom: 4.5rem;    
}

#about {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    gap: 2rem;
}

#about div.image-container {
   text-align: center; 
}

#about div img {
    display: block;
    /* center portrait image on phones */
    margin: 0 auto;
    box-shadow: 2px 2px 6px 2px var(--link-hover);
}

#about p {
    margin: 1rem 2rem;
}

#work {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

#work h2 {
    width: 100%;
    margin-bottom: 1.5rem;
}

.card {
    flex: 1 0 100%;
    margin: 3rem 0.75rem;
    /* when screen resizes, don't jump in size */
    transition: flex-basis 300ms linear;
    box-shadow: 5px 5px 10px var(--link-hover);
    max-height: 30rem;
    overflow: hidden;
}

.card:hover {
    box-shadow: 5px 5px 5px 5px var(--hover-shadow);
    border: 3px dotted var(--link-hover);
}

.card a {
    display: inline-block;
    position: relative; 
    /* no underline in card texts */
    text-decoration: none;
    width: 100%;
}

.card a div.card-info {
    position: absolute;
    top: 30px;
    min-width: 40%;
    padding: 1rem 2rem;
    background-color: var(--bkground);
    box-shadow: 1px 1px 5px 1px var(--link-hover);
}

.card a div.card-info h3 {
    color: rgb(110, 103, 102);
}

.card-subtitle {
    color: var(--reddish);
    font-weight: 500;
}

.card a img {
    /* let images resize to width/height of .card */
    width: 100%;
    height: auto;
}

#contact a {
    text-decoration: none;
}

#contact li {
    font-size: 2.25rem;
    color: var(--reddish);
}

/* tablets */
@media screen and (min-width: 768px) {
    body {
        width: 92%;
    }

    header {
        margin-top: 2rem;
        margin-bottom: 3rem;
        padding-bottom: 3.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    header h1 {
        margin: 0 auto 0 2rem;
    }

    header ul {
        padding-top: 1.5rem;
        flex-direction: row;
        gap: 5rem;
    }

    footer ul {
        flex-direction: row;
        justify-content: space-between;
        padding: 4rem 2rem 8rem 2rem;
    }

    #about div.img-container {
        margin-bottom: 3rem;
    }

    #work {
        justify-content: flex-start;
    }

    .card {
        flex: 0 2 48%;
    }
 
   
 }
/* Desktop sizes */
@media screen and (min-width: 992px) {
    body {
        width: 80%;
    }

    #about > div {
        display: flex;
        flex-direction: row;
    }
    
    #about div.img-container {
        margin-left: 2rem;
    }

    #about p {
        margin-left: 8rem;
    }

    #work {
        justify-content: space-between;
    }

    .card {
        flex: 0 1 30%;
    }

    .first {
        flex: 0 1 64.5%;
    }
}

/* Disable smooth scrolling when users have prefers-reduced-motion enabled 
 * https://gomakethings.com/how-to-animate-scrolling-to-anchor-links-with-one-line-of-css/
 */
@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}